body{
	font-size: 14px;
	color: #696763;
	font-family: sans-serif;
}
.header-top{
	background-color: #292929;
}
.header-top p{
	color: white;
	margin-top: 10px;
	font-size: 10px;
}
.header-top .nav-pills > li{
	float: none;
	display: inline-block;
}
.header-top .nav-pills > li > a{
	padding: 2px;
	color: white;
	margin-top: 7px;
	font-size:10px;
	border-right: 1px solid white;
	padding-right: 10px;
}
.header-top .nav-pills > li > a:hover{
	color: orange;
	background-color: #292929;
}
.header-mid{
	background-color: #000;
	width: 100%;
}
.header-mid img{
	width: 70%;
	padding: 5px;
}
.search-bar{
	text-align: center;
}
.search{
	background-color: #f2f2f2;
	height: 30px;
	border-radius: 3px;
	border: none;
	padding: 15px;
	width: 100%;
	background-image: url("../images/searchicon.png");
	background-repeat:no-repeat;
	background-position: 95% 50%;
	margin-top: 18px;

}
.header-mid .nav-pills > li{
	float: none;
	display: inline-block;
}
.header-mid .nav-pills > li > a{
	padding: 10px;
	color: white;
	margin-top: 15px;
	font-size:16px;
}
.header-mid .nav-pills > li > a:hover{
	color: orange;
	background-color: #000;
}
.header-bottom .dropdown a:hover{
	color: red;
}
.carousel-control.left,
.carousel-control.right{
	background-image:none;
}
.carousel-inner img{
	width: 100%;
}
.links span{
	color: orange;
	cursor: pointer;
}
.links h3{
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	color: #333;
}
.links p{
	font-size: 14px;
	/*box-sizing: border-box;*/
	margin-bottom: 10px;
	color: #333;
}
.links{
	background: #f9f9fa;
	/*margin-top: 50px;*/
	/*margin-bottom: 30px;*/
	padding-left: 15px;
	padding-right: 15px;
	/*text-decoration-style: none;*/
	padding-bottom: 30px;
	padding-top: 60px;
}
.links a{
	color: #ff5d3b;
	cursor: pointer;
	text-decoration: none;
}
.links .home{
	margin-bottom: 50px;
}
.links h4{
	margin-bottom: 10px;
	font-size: 700;
	/*margin-top: 50px;*/
	/*padding-top: 50px;*/
}
.footer-mid{
	background: #000;
	/*display:inline-block;*/
	/*position: fixed;*/
	/*margin-left: 362px;*/
}
.quick-links{
	padding-top: 30px;
	padding-bottom: 25px;	
}
.quick-links h6{
	color: #fff;
	padding-bottom: 4px;
	font: 14px PTSans-Regular;
	/*text-align: left;*/
}
.quick-links a{
	color: #999;
	font-size: 12px;
	padding: 5px;
}
.copyright{
	border-top: 1px solid white;
}
.par{
	text-align: center;
	font: 30px/22px DancingScript-Bold;
	color: white;
	background-color: #cdcdcd;
	/*float: left;*/
	padding:21px 0 24px;
	/*width: 100%;*/
}
.img li{
	display: inline;
	padding: 5px;
}
.img p{
	color: #646464;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 10px;
}
.img{
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 5px;
}
.email p{
	color: #646464;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.email input[type="text"]{
	padding: 10px;
	border: 1px solid #646464;
	border-radius: 5px;
	margin-left: 10px;
}
.email button{
	padding: 10px;
	border: 1px solid #646464;
	border-radius: 5px;
	background-color: red;
	background: #fff2f0;
	color: #ff5d3b;
	cursor: pointer;
}
.icons p{
	color: #646464;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.icons li{
	display: inline;
	padding: 5px;
}

.free .icon-group{
	width: 70px;
	/*margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;*/
	display: inline-block;
	margin-left: 20px;
}
.free .icon-group:last-child{
	display: block;
	margin-left: 115px;
}
.headers{
	color: #999;
}
.headers h3{
	text-align: center;
	font-size: 13px;
	/*position: relative;*/
	/*display: inline-block;*/
	padding: 10px;
	color: #999;
}
.headers p{
	text-align: center;
	margin-left: 15px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.headers p:last-child{
	color: red;
	text-decoration: underline;
}
.veri img{
	width: 60px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.veri{
	color: #999;
}
.veri h3{
	text-align: center;
	font-size: 13px;
	/*position: relative;*/
	/*display: inline-block;*/
	padding: 10px;
}
.veri1{
	color:#999;
}
.veri1 h3{
	text-align: center;
	font-size: 13px;
	/*position: relative;*/
	/*display: inline-block;*/
	padding: 10px;
}
.veri1 img{
	width: 50px;
	margin-left: 20px;
}
.main-top img{
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}
.main-top h4{
	padding: 10px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}
.karwa img{
	margin-right: 5px;
}
.main-mid h4{
	padding: 10px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}
.re{
	background:#f4f4f4;
	margin-bottom: 20px;
}
.carousel-inner img{
	width: 95%;
}
.carousel-inner{
	text-align: center;
}
.carousel-inner h3{
	color: #333;
	font-size: 26px;
	/*text-align: center ;*/
	padding: 5px;
	font-weight: 500;
}
.carousel-inner h4{
	color: #555;
	font-size: 16px;
	/*text-align: center;*/
	font-weight: 500;
}
.carousel-inner h5{
	display: inline-block;
	/*text-align: center;*/
	border: 1px solid black;
	font-weight: 500;
	padding: 5px;
	cursor: pointer;
}
.main-bottom h4{
	padding: 10px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}
.main-bottom img{
	margin-right: 5px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 992px) {
	.footer-top .img p{
		text-align: center;
	}
	.footer-top .email p{
		text-align: center;
	}
	/*.footer-top .icons p{
		margin-left: 45px;
	}*/
	.footer-top .veri img{
		margin-left: 35px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.footer-top .veri1 img{
		margin-left: 45px;
		/*padding-left: 10px;*/
		padding-top: 10px;
	}
	.footer-top .veri p{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 768px) {
	.header-top p{
		text-align: center;
	}
	.header-top .nav{
		text-align: center;
	}
	.header-mid img{
		display: block;
		margin: auto;
	}
	.header-mid .nav{
		text-align: center;
	}
	.header-mid .nav-pills a{
		text-align: center;
	}
	.main-top .karwa img{
		display: block;
		margin: auto;
	}
	.main-mid .carousel-inner img{
		display: auto;
		margin: auto;
	}
	.main-bottom .bank img{
		display: auto;
		margin: auto;
		margin-bottom: 10px;
	}
	.footer-top .img li img{
		margin-left:80px;
	}
	.footer-top .email form{
		margin-left:140px;
	}
	.footer-top .free{
		margin-left:140px;
		margin-top: 20px;
	}
	.footer-top .veri img{
		margin-left:100px;
	}
	.footer-top .veri1 img{
		margin-left:100px;
	}
}



